schemas/CalPositionTable.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 ALMA - Atacama Large Millimeter Array
 (c) European Southern Observatory, 2002
 (c) Associated Universities Inc., 2002
 Copyright by ESO (in the framework of the ALMA collaboration),
 Copyright by AUI (in the framework of the ALMA collaboration),
 All rights reserved.
 
 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free software Foundation; either
 version 2.1 of the License, or (at your option) any later version.
 
 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY, without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.
 
 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place, Suite 330, Boston,
 MA 02111-1307  USA
 
////////////////////////////////////////////////////////////////////////////////////////
//
//                                    WARNING 
//  This is generated code!  Do not modify this file.                  
//  If you do, all changes will be lost when the file is re-generated. 
//
////////////////////////////////////////////////////////////////////////////////////////
 File CalPositionTable.xsd
 --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clposn="http://Alma/XASDM/CalPositionTable" xmlns:ent="Alma/CommonEntity" xmlns:positm="http://Alma/XENUM/PositionMethodMod" xmlns:recvrb="http://Alma/XENUM/ReceiverBandMod" xmlns:atmphc="http://Alma/XENUM/AtmPhaseCorrectionMod" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://Alma/XASDM/CalPositionTable" version="3 -1">
 	<xs:import namespace="Alma/CommonEntity" schemaLocation="http://almaobservatory.org/XML/Common/2.1/CommonEntity.xsd" />
 
		<!-- No specific import for ArrayTime -->
		<!-- No specific import for Angle -->
		<!-- We need the schema of PositionMethod -->
		<xs:import namespace="http://Alma/XENUM/PositionMethodMod" schemaLocation="http://almaobservatory.org/XML/XENUM/1/PositionMethod.xsd" />
		<!-- No specific import for int -->
		<!-- No specific import for String -->
		<!-- No specific import for Length -->
		<!-- We need the schema of ReceiverBand -->
		<xs:import namespace="http://Alma/XENUM/ReceiverBandMod" schemaLocation="http://almaobservatory.org/XML/XENUM/1/ReceiverBand.xsd" />
		<!-- No specific import for boolean -->
		<!-- We need the schema of AtmPhaseCorrection -->
		<xs:import namespace="http://Alma/XENUM/AtmPhaseCorrectionMod" schemaLocation="http://almaobservatory.org/XML/XENUM/1/AtmPhaseCorrection.xsd" />
		<!-- No specific import for double -->
	
	
	
	
	
	
	
	
	
	
    <xs:element name="CalPositionTable">
        <xs:complexType>
            <xs:sequence>
             	<!-- This table's Entity . -->
            	<xs:element name="Entity" type="ent:EntityT" />

            	<!-- This table's Container's Entity. -->
            	<xs:element name="ContainerEntity" type="ent:EntityT" />
            	
            	<!-- And then the sequence of its rows -->
                <xs:element name="row" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
         <xs:element name="antennaName" type="xs:string" />
         <xs:element name="atmPhaseCorrection" type="atmphc:AtmPhaseCorrection" />
         <xs:element name="startValidTime" type="xs:string" />
         <xs:element name="endValidTime" type="xs:string" />
         <xs:element name="antennaPosition" type="xs:string" />
         <xs:element name="stationName" type="xs:string" />
         <xs:element name="stationPosition" type="xs:string" />
         <xs:element name="positionMethod" type="positm:PositionMethod" />
         <xs:element name="receiverBand" type="recvrb:ReceiverBand" />
         <xs:element name="numAntenna" type="xs:string" />
         <xs:element name="refAntennaNames" type="xs:string" />
         <xs:element name="axesOffset" type="xs:string" />
         <xs:element name="axesOffsetErr" type="xs:string" />
         <xs:element name="axesOffsetFixed" type="xs:string" />
         <xs:element name="positionOffset" type="xs:string" />
         <xs:element name="positionErr" type="xs:string" />
         <xs:element name="reducedChiSquared" type="xs:string" />
     	 <xs:element name="delayRms" type="xs:string" minOccurs="0" />
     	 <xs:element name="phaseRms" type="xs:string" minOccurs="0" />
         <xs:element name="calDataId" type="xs:string" />
         <xs:element name="calReductionId" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
