schemas/ObsReview.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:val="Alma/ValueTypes" xmlns:orv="Alma/ObsPrep/ObsReview" xmlns:ent="Alma/CommonEntity" xmlns:ouss="Alma/Scheduling/OUSStatus" xmlns:ps="Alma/Scheduling/ProjectStatus" xmlns:sbs="Alma/Scheduling/SBStatus" xmlns:oat="Alma/Obsprep/ObsAttachment" xmlns:prj="Alma/ObsPrep/ObsProject" xmlns:prp="Alma/ObsPrep/ObsProposal" xmlns:sbl="Alma/ObsPrep/SchedBlock" elementFormDefault="qualified" attributeFormDefault="unqualified" version="13 6" targetNamespace="Alma/ObsPrep/ObsReview">  
  <xsd:import namespace="Alma/CommonEntity" schemaLocation="CommonEntity.xsd" />  
  <xsd:import namespace="Alma/ValueTypes" schemaLocation="ValueTypes.xsd" />  
  <xsd:import namespace="Alma/Scheduling/OUSStatus" schemaLocation="OUSStatus.xsd" />  
  <xsd:import namespace="Alma/Scheduling/ProjectStatus" schemaLocation="ProjectStatus.xsd" />  
  <xsd:import namespace="Alma/Scheduling/SBStatus" schemaLocation="SBStatus.xsd" />  
  <xsd:import namespace="Alma/Obsprep/ObsAttachment" schemaLocation="ObsAttachment.xsd" />  
  <xsd:import namespace="Alma/ObsPrep/ObsProject" schemaLocation="ObsProject.xsd" />  
  <xsd:import namespace="Alma/ObsPrep/ObsProposal" schemaLocation="ObsProposal.xsd" />  
  <xsd:import namespace="Alma/ObsPrep/SchedBlock" schemaLocation="SchedBlock.xsd" />  

  <!-- generated from UML entity class 'alma/obsprep/obsreview/ObsReview' -->  
  <xsd:element name="ObsReview" type="orv:ObsReview"> 
    <xsd:annotation> 
      <xsd:documentation>The ObsReview is designed to holds information resulting from the reviewing process: reports, evaluations and scores from the referees, and the final report and score fromthe TAC. Currently there is no requirement for this to actually include a Science Plan and an ObsPlan, but the model allows it. It is possible these may be used to insert details of the TAC approval where relevant.</xsd:documentation> 
    </xsd:annotation> 
  </xsd:element>  
  <xsd:complexType name="ObsReview"> 
    <xsd:complexContent> 
      <xsd:extension base="prj:ObsPhaseT"> 
        <xsd:sequence> 
          <xsd:element name="ObsReviewEntity" type="orv:ObsReviewEntityT" />  
          <xsd:element name="ObsProjectRef" type="prj:ObsProjectRefT" /> 
        </xsd:sequence>  
        <xsd:attribute name="schemaVersion" type="xsd:string" use="required" fixed="13" />  
        <xsd:attribute name="revision" type="xsd:string" default="6" />  
        <xsd:attribute name="almatype" type="xsd:string" use="required" fixed="APDM::ObsReview" /> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  

  <!-- 'ObsReviewEntityT' contains administration info for ObsReview -->  
  <xsd:complexType name="ObsReviewEntityT"> 
    <xsd:complexContent> 
      <xsd:restriction base="ent:EntityT"> 
        <xsd:attribute name="entityTypeName" type="ent:EntityTypeNameT" use="required" fixed="ObsReview" />  
        <xsd:attribute name="schemaVersion" type="xsd:string" use="required" fixed="13" /> 
      </xsd:restriction> 
    </xsd:complexContent> 
  </xsd:complexType>  

  <!-- other classes use 'ObsReviewRefT' to reference an entity of type ObsReview -->  
  <xsd:complexType name="ObsReviewRefT"> 
    <xsd:complexContent> 
      <xsd:restriction base="ent:EntityRefT"> 
        <xsd:attribute name="entityTypeName" type="ent:EntityTypeNameT" use="required" fixed="ObsReview" /> 
      </xsd:restriction> 
    </xsd:complexContent> 
  </xsd:complexType> 
</xsd:schema>
