schemas/SciPipeResults.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema
    targetNamespace="Common/pipelinescience/SciPipeResults"
    xmlns:sprx="Common/pipelinescience/SciPipeResults"
    xmlns:sprq="Common/pipelinescience/SciPipeRequest"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">

  <xs:import namespace="Common/pipelinescience/SciPipeRequest" schemaLocation="SciPipeRequest.xsd"/>

  <!-- The science pipeline processing results -->
      <!-- PipelineSummary is the high level pipeline results summary              -->
      <!-- ProjectStructure provides various links to the parent project structure -->
          <!-- ProjectStructure is project dependent --> 
      <!-- PipelineResults is the set of pipeline processing results               -->
          <!-- High level results structure is product dependent  --> 
  <!-- The science pipeline processing results -->

  <!-- <xs:element name="SciPipeResults">                                          -->
    <!-- <xs:complexType>                                                          -->
      <!-- <xs:sequence>                                                           -->
        <!-- <xs:element name="PipelineSummary" type="sprx:PipelineSummaryT"/>     -->
        <!-- <xs:element name="ProjectStructure" type="xs:string" minOccurs="0"/>  -->
        <!-- <xs:element name="PipelineResults" type="xs:string"/>                 -->
      <!-- </xs:sequence>                                                          -->
    <!-- </xs:complexType>                                                         -->
  <!-- </xs:element>                                                               -->

  <!-- The generic pipeline run summary summary -->
  <!--     This section may be too short short to justify a separate section        -->
  <!--     Do not  duplicate information already in the pipeline processing request -->
      <!-- CreationTime specifies the date and time the results were created in UT  -->
      <!-- SoftwareVersion specifies the pipeline software version  -->
  <!-- The observing unit set summary -->

  <xs:complexType name="PipelineSummaryT">
    <xs:sequence>
     <xs:element name="CreationTime" type="xs:string"/>
     <xs:element name="SoftwareVersion" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Definition of  the final global QA2 metrics                      -->
  <!--           These are a set of keyword value pairs for now         -->
  <!-- Definition of  the target image meta data set                    -->
  <xs:complexType name="QA2SummaryT">
    <xs:sequence>
    <xs:element name="QA2Metric" type="sprq:KeywordValuePairT" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Definition of a data product unit set                               -->
  <!-- Definition of a data product unit set                               -->

  <xs:complexType name="ProductUnitSetT">
    <xs:sequence>
      <xs:element name="RelativePath" type="xs:string"/>
      <xs:element name="ProductUnit" type="sprx:ProductUnitT" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Definition of a data product unit -->
      <!-- The product meta data set which may be empty                -->
      <!-- The ASDM data product                                       -->
      <!-- The flags data product                                      -->
      <!-- The calibration instructions                                -->
      <!-- The calibration tables                                      -->
      <!-- The image data product                                      -->
      <!-- The log data product                                        -->
      <!-- The QA data product                                         -->
      <!-- The generic data product                                    -->
  <!-- Definition of a data product unit -->

  <xs:complexType name="ProductUnitT">
    <xs:sequence>
      <xs:element name="MetaDataSet" type="sprx:MetaDataSetT"/>
      <xs:choice>
        <xs:element name="AsdmProduct" type="sprx:AsdmProductT"/>
        <xs:element name="FlagProduct" type="sprx:FlagProductT"/>
        <xs:element name="CalApplyList" type="sprx:CalApplyListT"/>
        <xs:element name="CaltableProduct" type="sprx:CaltableProductT"/>
        <xs:element name="ImageProduct" type="sprx:ImageProductT"/>
        <xs:element name="LogProduct" type="sprx:LogProductT"/>
        <xs:element name="QaProduct" type="sprx:QaProductT"/>
        <xs:element name="GenericProduct" type="sprx:GenericProductT"/>
      </xs:choice>
      <xs:element name="Qa2Analysis" type="sprx:QaProductT" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="ProductType" type="sprx:ProductTypeT"/>
  </xs:complexType>

  <!-- Definition of  the target image meta data set                    -->
  <!--           These are a set of keyword value pairs for now         -->
  <!-- Definition of  the target image meta data set                    -->

  <xs:complexType name="MetaDataSetT">
    <xs:sequence>
    <xs:element name="MetaData" type="sprq:KeywordValuePairT" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Definition of an ASDM product unit -->
      <!-- The archive storage instructions -->
  <!-- Definition of an ASDM  product unit -->

  <xs:complexType name="AsdmProductT">
    <xs:sequence>
      <xs:element name="AsdmStore" type="sprx:ArchiveStorageT"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Definition of a flags product unit -->
      <!-- The archive storage instructions -->
  <!-- Definition of a flags  product unit -->

  <xs:complexType name="FlagProductT">
    <xs:sequence>
      <xs:element name="ArchiveStore" type="sprx:ArchiveStorageT"/>
    </xs:sequence>
    <xs:attribute name="FlagsType" type="sprx:FlagsTypeT"/>
  </xs:complexType>

  <!-- Definition of a calibration table apply list -->
      <!-- The archive storage instructions -->
  <!-- Definition of a calibration table apply list -->

  <xs:complexType name="CalApplyListT">
    <xs:sequence>
      <xs:element name="ArchiveStore" type="sprx:ArchiveStorageT"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Definition of a calibration table product -->
      <!-- The archive storage instructions -->
  <!-- Definition of a calibration table product -->

  <xs:complexType name="CaltableProductT">
    <xs:sequence>
      <xs:element name="ArchiveStore" type="sprx:ArchiveStorageT"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Definition of an image product -->
      <!-- The image archive storage instructions                  -->
      <!-- The thumbnail image archive storage instructions        -->
  <!-- Definition of an image product -->

  <xs:complexType name="ImageProductT">
    <xs:sequence>
      <xs:element name="ArchiveStore" type="sprx:ArchiveStorageT"/>
      <xs:element name="ThumbnailArchiveStore" type="sprx:ArchiveStorageT"/>
    </xs:sequence>
    <xs:attribute name="ImagesType" type="sprx:ImagesTypeT"/>
  </xs:complexType>

  <!-- Definition of a qa product -->
      <!-- The archive storage instructions -->
  <!-- Definition of a qa product -->

  <xs:complexType name="QaProductT">
    <xs:sequence>
      <xs:choice>
         <xs:element name="ImageProduct" type="sprx:ImageProductT"/>
         <xs:element name="GenericProduct" type="sprx:GenericProductT"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <!-- Definition of a logging product -->
      <!-- The archive storage instructions -->
  <!-- Definition of a logging product -->

  <xs:complexType name="LogProductT">
    <xs:sequence>
      <xs:element name="ArchiveStore" type="sprx:ArchiveStorageT"/>
    </xs:sequence>
    <xs:attribute name="LogsType" type="sprx:LogsTypeT"/>
  </xs:complexType>

  <!-- Definition of a generic product -->
      <!-- The archive storage instructions -->
  <!-- Definition of a generic product -->

  <xs:complexType name="GenericProductT">
    <xs:sequence>
      <xs:element name="ArchiveStore" type="sprx:ArchiveStorageT"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Definition of archive storage unit                              -->
      <!--      ArchiveUid is the unique identifier of the stored unit -->
      <!--      ArchiveFormat is the format of the stored unit         -->
      <!--           e.g. TXT, FITS, TAR/GZIP, ...                     -->
      <!--      DiskName is the on disk name of the stored unit          -->
      <!--      StoreInArchive is a boolean defining whether or not the product is permanent         -->
      <!--      DeleteFromArchiveDate is the data after which temporary products can be deleted         -->
  <!-- Definition of archive storage unit                              -->

  <xs:complexType name="ArchiveStorageT">
    <xs:sequence>
      <xs:element name="ArchiveUid" type="xs:string"/>
      <xs:element name="ArchiveFormat" type="xs:string"/>
      <xs:element name="DiskName" type="xs:string"/>
      <xs:element name="StoreInArchive" type="xs:boolean" minOccurs="0"/>
      <xs:element name="DeletefromArchiveDate" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Definition of a generic keyword value pair                              -->
  <!--     Defines a dictionary used for meta data definitions                 -->
  <!--     ** Note that meta data is not hardcoded at present **               -->
  <!--     Keyword is the keyword name                                         -->
  <!--     Value is the keyword value                                          -->
  <!-- Definition of a generic keyword value pair -->

  <!-- <xs:complexType name="KeywordValuePairT">                               -->
  <!--  <xs:sequence>                                                          -->
  <!--    <xs:element name="Keyword" type="xs:string"/>                        -->
  <!--    <xs:element name="Value" type="xs:string"/>                          -->
  <!--  </xs:sequence>                                                         -->
  <!-- </xs:complexType>                                                       -->

  <xs:simpleType name="ProductTypeT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="asdm"/>
      <xs:enumeration value="flag"/>
      <xs:enumeration value="calapply"/>
      <xs:enumeration value="caltable"/>
      <xs:enumeration value="image"/>
      <xs:enumeration value="qa"/>
      <xs:enumeration value="log"/>
      <xs:enumeration value="generic"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FlagsTypeT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="file"/>
      <xs:enumeration value="table"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="LogsTypeT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="casa"/>
      <xs:enumeration value="web"/>
      <xs:enumeration value="casacommands"/>
      <xs:enumeration value="unspecified"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ImagesTypeT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="science"/>
      <xs:enumeration value="calibrator"/>
      <xs:enumeration value="unspecified"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>

