schemas/ValueTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:val="Alma/ValueTypes" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="Alma/ValueTypes">  

  <!-- 'DoubleWithUnitT' is not derived from the UML model; 
          it's used as the base class for PhysicalQuantities -->  
  <xsd:complexType name="DoubleWithUnitT"> 
    <xsd:simpleContent> 
      <xsd:extension base="xsd:double"> 
        <xsd:attribute name="unit" type="xsd:string" use="required"/> 
      </xsd:extension> 
    </xsd:simpleContent> 
  </xsd:complexType>  

  <!-- generated from PhysicalQuantity 'Angle' -->  
  <xsd:complexType name="AngleT"> 
    <xsd:simpleContent> 
      <xsd:restriction base="val:DoubleWithUnitT"> 
        <xsd:attribute name="unit" use="required"> 
          <xsd:simpleType> 
            <xsd:restriction base="xsd:string"> 
              <xsd:enumeration value="deg"/>  
              <xsd:enumeration value="rad"/>  
              <xsd:enumeration value="arcmin"/>  
              <xsd:enumeration value="arcsec"/>  
              <xsd:enumeration value="mas"/> 
            </xsd:restriction> 
          </xsd:simpleType> 
        </xsd:attribute> 
      </xsd:restriction> 
    </xsd:simpleContent> 
  </xsd:complexType>  

  <!-- generated from PhysicalQuantity 'Length' -->  
  <xsd:complexType name="LengthT"> 
    <xsd:simpleContent> 
      <xsd:restriction base="val:DoubleWithUnitT"> 
        <xsd:attribute name="unit" use="required"> 
          <xsd:simpleType> 
            <xsd:restriction base="xsd:string"> 
              <xsd:enumeration value="mm"/>  
              <xsd:enumeration value="cm"/>  
              <xsd:enumeration value="m"/>  
              <xsd:enumeration value="km"/>  
              <xsd:enumeration value="pc"/> 
            </xsd:restriction> 
          </xsd:simpleType> 
        </xsd:attribute> 
      </xsd:restriction> 
    </xsd:simpleContent> 
  </xsd:complexType>  

  <!-- generated from PhysicalQuantity 'Speed' -->  
  <xsd:complexType name="SpeedT"> 
    <xsd:simpleContent> 
      <xsd:restriction base="val:DoubleWithUnitT"> 
        <xsd:attribute name="unit" use="required"> 
          <xsd:simpleType> 
            <xsd:restriction base="xsd:string"> 
              <xsd:enumeration value="m/s"/>  
              <xsd:enumeration value="km/h"/>  
              <xsd:enumeration value="km/s"/> 
            </xsd:restriction> 
          </xsd:simpleType> 
        </xsd:attribute> 
      </xsd:restriction> 
    </xsd:simpleContent> 
  </xsd:complexType>  

  <!-- generated from PhysicalQuantity 'Frequency' -->  
  <xsd:complexType name="FrequencyT"> 
    <xsd:simpleContent> 
      <xsd:restriction base="val:DoubleWithUnitT"> 
        <xsd:attribute name="unit" use="required"> 
          <xsd:simpleType> 
            <xsd:restriction base="xsd:string"> 
              <xsd:enumeration value="MHz"/>  
              <xsd:enumeration value="GHz"/>  
              <xsd:enumeration value="kHz"/>  
              <xsd:enumeration value="Hz"/> 
            </xsd:restriction> 
          </xsd:simpleType> 
        </xsd:attribute> 
      </xsd:restriction> 
    </xsd:simpleContent> 
  </xsd:complexType>  

  <!-- generated from ValueType 'SkyCoordinates' -->  
  <xsd:complexType name="SkyCoordinatesT"> 
    <xsd:sequence> 
      <xsd:element name="longitude" type="val:LongitudeT"/>  
      <xsd:element name="latitude" type="val:LatitudeT"/>  
      <xsd:element name="fieldName" type="xsd:string"/> 
    </xsd:sequence>  
    <xsd:attribute name="system" default="J2000"> 
      <xsd:simpleType> 
        <xsd:restriction base="xsd:string"> 
          <xsd:enumeration value="J2000"/>  
          <xsd:enumeration value="galactic"/>  
          <xsd:enumeration value="ecliptic"/>  
          <xsd:enumeration value="azel"/>  
          <xsd:enumeration value="ICRS"/>  
          <xsd:enumeration value="horizon"/> 
        </xsd:restriction> 
      </xsd:simpleType> 
    </xsd:attribute>  
    <xsd:attribute name="type"> 
      <xsd:simpleType> 
        <xsd:restriction base="xsd:string"> 
          <xsd:enumeration value="ABSOLUTE"/>  
          <xsd:enumeration value="RELATIVE"/> 
        </xsd:restriction> 
      </xsd:simpleType> 
    </xsd:attribute> 
  </xsd:complexType>  

  <!-- generated from ValueType 'Velocity' -->  
  <xsd:complexType name="VelocityT"> 
    <xsd:sequence> 
      <xsd:element name="centerVelocity" type="val:SpeedT"/> 
    </xsd:sequence>  
    <xsd:attribute name="referenceSystem" default="lsrk"> 
      <xsd:simpleType> 
        <xsd:restriction base="xsd:string"> 
          <xsd:enumeration value="bar"/>  
          <xsd:enumeration value="lsrk"/>  
          <xsd:enumeration value="topo"/>  
          <xsd:enumeration value="hel"/>  
          <xsd:enumeration value="lsr"/> 
        </xsd:restriction> 
      </xsd:simpleType> 
    </xsd:attribute>  
    <xsd:attribute name="dopplerCalcType" default="OPTICAL"> 
      <xsd:simpleType> 
        <xsd:restriction base="xsd:string"> 
          <xsd:enumeration value="RADIO"/>  
          <xsd:enumeration value="OPTICAL"/>  
          <xsd:enumeration value="RELATIVISTIC"/> 
        </xsd:restriction> 
      </xsd:simpleType> 
    </xsd:attribute> 
  </xsd:complexType>  

  <!-- generated from PhysicalQuantity 'Flux' -->  
  <xsd:complexType name="FluxT"> 
    <xsd:simpleContent> 
      <xsd:restriction base="val:DoubleWithUnitT"> 
        <xsd:attribute name="unit" use="required"> 
          <xsd:simpleType> 
            <xsd:restriction base="xsd:string"> 
              <xsd:enumeration value="Jy"/>  
              <xsd:enumeration value="mJy"/> 
            </xsd:restriction> 
          </xsd:simpleType> 
        </xsd:attribute> 
      </xsd:restriction> 
    </xsd:simpleContent> 
  </xsd:complexType>  

  <!-- generated from PhysicalQuantity 'Time' -->  
  <xsd:complexType name="TimeT"> 
    <xsd:simpleContent> 
      <xsd:restriction base="val:DoubleWithUnitT"> 
        <xsd:attribute name="unit" use="required"> 
          <xsd:simpleType> 
            <xsd:restriction base="xsd:string"> 
              <xsd:enumeration value="ns"/>  
              <xsd:enumeration value="us"/>  
              <xsd:enumeration value="ms"/>  
              <xsd:enumeration value="s"/>  
              <xsd:enumeration value="min"/>  
              <xsd:enumeration value="h"/>  
              <xsd:enumeration value="d"/> 
            </xsd:restriction> 
          </xsd:simpleType> 
        </xsd:attribute> 
      </xsd:restriction> 
    </xsd:simpleContent> 
  </xsd:complexType>  

  <!-- generated from PhysicalQuantity 'AngularVelocity' -->  
  <xsd:complexType name="AngularVelocityT"> 
    <xsd:simpleContent> 
      <xsd:restriction base="val:DoubleWithUnitT"> 
        <xsd:attribute name="unit" use="required"> 
          <xsd:simpleType> 
            <xsd:restriction base="xsd:string"> 
              <xsd:enumeration value="arcsec/s"/>  
              <xsd:enumeration value="arcmin/s"/>  
              <xsd:enumeration value="deg/s"/>  
              <xsd:enumeration value="mas/yr"/> 
            </xsd:restriction> 
          </xsd:simpleType> 
        </xsd:attribute> 
      </xsd:restriction> 
    </xsd:simpleContent> 
  </xsd:complexType>  

  <!-- generated from PhysicalQuantity 'SmallAngle' -->  
  <xsd:complexType name="SmallAngleT"> 
    <xsd:simpleContent> 
      <xsd:restriction base="val:DoubleWithUnitT"> 
        <xsd:attribute name="unit" use="required"> 
          <xsd:simpleType> 
            <xsd:restriction base="xsd:string"> 
              <xsd:enumeration value="mas"/>  
              <xsd:enumeration value="arcsec"/>  
              <xsd:enumeration value="arcmin"/>  
              <xsd:enumeration value="fraction of main beam"/> 
            </xsd:restriction> 
          </xsd:simpleType> 
        </xsd:attribute> 
      </xsd:restriction> 
    </xsd:simpleContent> 
  </xsd:complexType>  

  <!-- generated from PhysicalQuantity 'Sensitivity' -->  
  <xsd:complexType name="SensitivityT"> 
    <xsd:simpleContent> 
      <xsd:restriction base="val:DoubleWithUnitT"> 
        <xsd:attribute name="unit" use="required"> 
          <xsd:simpleType> 
            <xsd:restriction base="xsd:string"> 
              <xsd:enumeration value="Jy"/>  
              <xsd:enumeration value="mJy"/> 
            </xsd:restriction> 
          </xsd:simpleType> 
        </xsd:attribute> 
      </xsd:restriction> 
    </xsd:simpleContent> 
  </xsd:complexType>  

  <!-- generated from PhysicalQuantity 'Longitude' -->  
  <xsd:complexType name="LongitudeT"> 
    <xsd:simpleContent> 
      <xsd:restriction base="val:DoubleWithUnitT"> 
        <xsd:attribute name="unit" use="required"> 
          <xsd:simpleType> 
            <xsd:restriction base="xsd:string"> 
              <xsd:enumeration value="deg"/>  
              <xsd:enumeration value="rad"/>  
              <xsd:enumeration value="arcmin"/>  
              <xsd:enumeration value="arcsec"/>  
              <xsd:enumeration value="mas"/> 
            </xsd:restriction> 
          </xsd:simpleType> 
        </xsd:attribute> 
      </xsd:restriction> 
    </xsd:simpleContent> 
  </xsd:complexType>  

  <!-- generated from PhysicalQuantity 'Latitude' -->  
  <xsd:complexType name="LatitudeT"> 
    <xsd:simpleContent> 
      <xsd:restriction base="val:DoubleWithUnitT"> 
        <xsd:attribute name="unit" use="required"> 
          <xsd:simpleType> 
            <xsd:restriction base="xsd:string"> 
              <xsd:enumeration value="deg"/>  
              <xsd:enumeration value="rad"/>  
              <xsd:enumeration value="arcmin"/>  
              <xsd:enumeration value="arcsec"/>  
              <xsd:enumeration value="mas"/> 
            </xsd:restriction> 
          </xsd:simpleType> 
        </xsd:attribute> 
      </xsd:restriction> 
    </xsd:simpleContent> 
  </xsd:complexType>  

  <!-- generated from PhysicalQuantity 'IntTimeReference' -->  
  <xsd:complexType name="IntTimeReferenceT"> 
    <xsd:simpleContent> 
      <xsd:restriction base="val:DoubleWithUnitT"> 
        <xsd:attribute name="unit" use="required"> 
          <xsd:simpleType> 
            <xsd:restriction base="xsd:string"> 
              <xsd:enumeration value="ns"/>  
              <xsd:enumeration value="us"/>  
              <xsd:enumeration value="ms"/>  
              <xsd:enumeration value="s"/>  
              <xsd:enumeration value="min"/>  
              <xsd:enumeration value="h"/>  
              <xsd:enumeration value="d"/> 
            </xsd:restriction> 
          </xsd:simpleType> 
        </xsd:attribute> 
      </xsd:restriction> 
    </xsd:simpleContent> 
  </xsd:complexType>  

  <!-- generated from PhysicalQuantity 'IntTimeSource' -->  
  <xsd:complexType name="IntTimeSourceT"> 
    <xsd:simpleContent> 
      <xsd:restriction base="val:DoubleWithUnitT"> 
        <xsd:attribute name="unit" use="required"> 
          <xsd:simpleType> 
            <xsd:restriction base="xsd:string"> 
              <xsd:enumeration value="ns"/>  
              <xsd:enumeration value="us"/>  
              <xsd:enumeration value="ms"/>  
              <xsd:enumeration value="s"/>  
              <xsd:enumeration value="min"/>  
              <xsd:enumeration value="h"/>  
              <xsd:enumeration value="d"/> 
            </xsd:restriction> 
          </xsd:simpleType> 
        </xsd:attribute> 
      </xsd:restriction> 
    </xsd:simpleContent> 
  </xsd:complexType>  

  <!-- generated from ValueType 'Status' -->  
  <xsd:complexType name="StatusT"> 
    <xsd:sequence> 
      <xsd:element name="ReadyTime" type="xsd:string"/>  
      <xsd:element name="StartTime" type="xsd:string"/>  
      <xsd:element name="EndTime" type="xsd:string"/> 
    </xsd:sequence>  
    <xsd:attribute name="State"> 
      <xsd:simpleType> 
        <xsd:restriction base="xsd:string"> 
          <xsd:enumeration value="Approved"/>  
          <xsd:enumeration value="Broken"/>  
          <xsd:enumeration value="Canceled"/>  
          <xsd:enumeration value="Deleted"/>  
          <xsd:enumeration value="FullyObserved"/>  
          <xsd:enumeration value="PartiallyObserved"/>  
          <xsd:enumeration value="Phase2Submitted"/>  
          <xsd:enumeration value="PipelineError"/>  
          <xsd:enumeration value="Processed"/>  
          <xsd:enumeration value="Ready"/>  
          <xsd:enumeration value="Repaired"/>  
          <xsd:enumeration value="Running"/>  
          <xsd:enumeration value="ObservingTimedOut"/>  
          <xsd:enumeration value="ToBeRepaired"/>  
          <xsd:enumeration value="Verified"/>  
          <xsd:enumeration value="AnyState"/>  
          <xsd:enumeration value="Phase1Submitted"/>  
          <xsd:enumeration value="NewPhase1"/>  
          <xsd:enumeration value="NewPhase2"/>  
          <xsd:enumeration value="ObservingTerminated"/>  
          <xsd:enumeration value="ObservingAborted"/>  
          <xsd:enumeration value="ObservingFailed"/>  
          <xsd:enumeration value="VerificationFailure"/>  
          <xsd:enumeration value="Suspended"/>  
          <xsd:enumeration value="Rejected"/>  
          <xsd:enumeration value="CSVReady"/>  
          <xsd:enumeration value="CSVRunning"/>  
          <xsd:enumeration value="CSVSuspended"/>  
          <xsd:enumeration value="Completed"/>  
          <xsd:enumeration value="Delivered"/>  
          <xsd:enumeration value="InProgress"/>  
          <xsd:enumeration value="PipelineProcessing"/>  
          <xsd:enumeration value="ReadyForProcessing"/>  
          <xsd:enumeration value="ReadyToDeliver"/>  
          <xsd:enumeration value="CalibratorCheck"/>  
          <xsd:enumeration value="QA2InProgress"/>  
          <xsd:enumeration value="ManualProcessing"/>  
          <xsd:enumeration value="ReprocessingRequired"/>  
          <xsd:enumeration value="Waiting"/>  
          <xsd:enumeration value="QA3InProgress"/>  
          <xsd:enumeration value="PartiallyCompleted"/>  
          <xsd:enumeration value="NotObserved"/>  
          <xsd:enumeration value="ProcessingProblem"/>  
          <xsd:enumeration value="Processing"/>  
          <xsd:enumeration value="ReadyForReview"/>  
          <xsd:enumeration value="Reviewing"/>  
          <xsd:enumeration value="DeliveryInProgress"/>  
          <xsd:enumeration value="DoNotObserve"/> 
        </xsd:restriction> 
      </xsd:simpleType> 
    </xsd:attribute> 
  </xsd:complexType>  

  <!-- generated from PhysicalQuantity 'Temperature' -->  
  <xsd:complexType name="TemperatureT"> 
    <xsd:simpleContent> 
      <xsd:restriction base="val:DoubleWithUnitT"> 
        <xsd:attribute name="unit" use="required"> 
          <xsd:simpleType> 
            <xsd:restriction base="xsd:string"> 
              <xsd:enumeration value="K"/>  
              <xsd:enumeration value="mK"/> 
            </xsd:restriction> 
          </xsd:simpleType> 
        </xsd:attribute> 
      </xsd:restriction> 
    </xsd:simpleContent> 
  </xsd:complexType>  

  <!-- generated from PhysicalQuantity 'DataRate' -->  
  <xsd:complexType name="DataRateT"> 
    <xsd:simpleContent> 
      <xsd:restriction base="val:DoubleWithUnitT"> 
        <xsd:attribute name="unit" use="required"> 
          <xsd:simpleType> 
            <xsd:restriction base="xsd:string"> 
              <xsd:enumeration value="B/s"/>  
              <xsd:enumeration value="KB/s"/>  
              <xsd:enumeration value="MB/s"/>  
              <xsd:enumeration value="GB/s"/>  
              <xsd:enumeration value="TB/s"/> 
            </xsd:restriction> 
          </xsd:simpleType> 
        </xsd:attribute> 
      </xsd:restriction> 
    </xsd:simpleContent> 
  </xsd:complexType>  

  <!-- generated from PhysicalQuantity 'StorageVolume' -->  
  <xsd:complexType name="StorageVolumeT"> 
    <xsd:simpleContent> 
      <xsd:restriction base="val:DoubleWithUnitT"> 
        <xsd:attribute name="unit" use="required"> 
          <xsd:simpleType> 
            <xsd:restriction base="xsd:string"> 
              <xsd:enumeration value="B"/>  
              <xsd:enumeration value="KB"/>  
              <xsd:enumeration value="MB"/>  
              <xsd:enumeration value="GB"/>  
              <xsd:enumeration value="TB"/> 
            </xsd:restriction> 
          </xsd:simpleType> 
        </xsd:attribute> 
      </xsd:restriction> 
    </xsd:simpleContent> 
  </xsd:complexType>  

  <!-- generated from ValueType 'Magnitude' -->  
  <xsd:complexType name="MagnitudeT"> 
    <xsd:sequence> 
      <xsd:element name="value" type="xsd:double"/> 
    </xsd:sequence> 
  </xsd:complexType>  

  <!-- generated from ValueType 'ExecBlockRef' -->  
  <xsd:complexType name="ExecBlockRefT"> 
    <xsd:sequence> 
      <xsd:element name="ExecBlockId" type="xsd:string"/> 
    </xsd:sequence> 
  </xsd:complexType>  

  <!-- generated from ValueType 'KeywordValue' -->  
  <xsd:complexType name="KeywordValueT"> 
    <xsd:sequence> 
      <xsd:element name="Keyword" type="xsd:string"/>  
      <xsd:element name="Value" type="xsd:string"/> 
    </xsd:sequence> 
  </xsd:complexType>  

  <!-- generated from ValueType 'UserAngle' -->  
  <xsd:complexType name="UserAngleT"> 
    <xsd:complexContent> 
      <xsd:extension base="val:AngleT"> 
        <xsd:attribute name="userUnit"> 
          <xsd:simpleType> 
            <xsd:restriction base="xsd:string"> 
              <xsd:enumeration value="deg"/>  
              <xsd:enumeration value="rad"/>  
              <xsd:enumeration value="arcmin"/>  
              <xsd:enumeration value="arcsec"/>  
              <xsd:enumeration value="mas"/>  
              <xsd:enumeration value="fraction of main beam"/>  
              <xsd:enumeration value="h"/> 
            </xsd:restriction> 
          </xsd:simpleType> 
        </xsd:attribute> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  

  <!-- generated from ValueType 'UserFrequency' -->  
  <xsd:complexType name="UserFrequencyT"> 
    <xsd:complexContent> 
      <xsd:extension base="val:FrequencyT"> 
        <xsd:attribute name="userUnit"> 
          <xsd:simpleType> 
            <xsd:restriction base="xsd:string"> 
              <xsd:enumeration value="MHz"/>  
              <xsd:enumeration value="GHz"/>  
              <xsd:enumeration value="kHz"/>  
              <xsd:enumeration value="Hz"/>  
              <xsd:enumeration value="m/s"/>  
              <xsd:enumeration value="km/s"/> 
            </xsd:restriction> 
          </xsd:simpleType> 
        </xsd:attribute> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  

  <!-- generated from ValueType 'UserSensitivity' -->  
  <xsd:complexType name="UserSensitivityT"> 
    <xsd:complexContent> 
      <xsd:extension base="val:SensitivityT"> 
        <xsd:attribute name="userUnit"> 
          <xsd:simpleType> 
            <xsd:restriction base="xsd:string"> 
              <xsd:enumeration value="Jy"/>  
              <xsd:enumeration value="mJy"/>  
              <xsd:enumeration value="K"/>  
              <xsd:enumeration value="mK"/>  
              <xsd:enumeration value="uJy"/> 
            </xsd:restriction> 
          </xsd:simpleType> 
        </xsd:attribute> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
</xsd:schema>
